@import '../variables';

.button {
  background-color: $primaryButtons;
  color: #fff;
  font-size: $bodyFontSize;
  font-weight: 600;
  display: inline-block;
  border: none;
  border-radius: 6px;
  padding: 18px 42px;

  &:hover {
    background-color: lighten($color: $primaryButtons, $amount: 20);
  }

  &--link {
    border-radius: 40px;
    padding: 16px 42px;
    &__sm {
      padding: 10px 20px;
    }
  }
}
