@import '../variables';

.button {
  $button: &;

  background-color: $primaryButtons;
  color: #fff;
  font-size: $bodyFontSize;
  font-weight: 600;
  display: inline-block;
  border: none;
  border-radius: 6px;
  padding: 18px 42px;
  cursor: pointer;

  &__sm {
    padding: 8px 24px;
    font-size: 16px;
  }

  &#{$button}__alt {
    background-color: $darkViolet;

    &:hover {
      background-color: lighten($darkViolet, 10);
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  // This is done for keyboard accessibility. Although some browsers do not support this yet, that can be solved by using the focus-visible polyfill. However, this has enough support to suffice for the purposes of this demo
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px darken($cyan, 10);
  }

  &:hover {
    background-color: lighten($color: $primaryButtons, $amount: 20);
  }

  &--link {
    -webkit-tap-highlight-color: transparent;
    border-radius: 40px;
    padding: 16px 42px;
    &__sm {
      padding: 10px 20px;
    }
  }
}
