@import '../mixins';
@import '../variables';

.header {
  padding: 10px 0px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  @include container;

  .logo {
    width: 100px;
    margin-right: 40px;
  }

  .nav {
    ul {
      display: flex;
      list-style: none;
      align-items: center;
    }

    &__main {
      margin-right: auto;
    }

    // &__secondary {
    // }

    &-item {
      a {
        color: $textColor;
        font-weight: 600;
        padding: 10px;
        font-size: 16px;

        &:hover {
          color: $extraDarkViolet;
        }
      }
    }

    .signup {
      margin-left: 24px;

      a {
        font-size: 16px;
      }
    }
  }
}
