@import '../mixins';

.hero {
  @include container;
  //   center items vertically
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mobile() {
    align-items: center;
  }

  @include desktop() {
    height: 600px;
  }

  &--wrapper {
    position: relative;

    .illustration {
      width: 100%;
      height: 400px;
      z-index: -1;
      right: 0;
      background-position: 24px;
      background-size: cover;
      background-image: url('/images/illustration-working.svg');
      background-repeat: no-repeat;

      // edge case between large tablets and small desktops
      @include media-breakpoint-between(720px, 1023px) {
        background-size: contain;
        background-position: center;
        height: 500px;
      }

      @include desktop() {
        height: 100%;
        position: absolute;
        max-width: css-min(50%, 800px);
        background-size: contain;
        background-position: calc(100% + 60px);
      }
    }
  }

  &-content {
    width: 100%;
    max-width: 500px;
    padding: 40px 0;

    @include desktop() {
      max-width: css-min(50%, 500px);
    }

    @include mobile() {
      text-align: center;
    }

    .header {
      @include headerText;
      font-size: 3.5rem;
      line-height: 1.2;
      margin-bottom: 8px;
    }

    .subtitle {
      font-size: 20px;
      color: $grayViolet;
      font-weight: 500;
      margin-bottom: 36px;
    }
  }
}
